{
  "root": true,
  "extends": ["airbnb-typescript"],
  "parserOptions": {
    "project": "./tsconfig.json",
    "extraFileExtensions": [".png", ".svg"]
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "import/prefer-default-export": 0,
    "import/extensions": 0,
    "react/require-default-props": 0,
    "react/prop-types": 0,
    "react/jsx-one-expression-per-line": 0,
    "implicit-arrow-linebreak": 0
  }
}
